{% extends "base.twig" %}

{% block content %}
	
{# BEGIN HERO SECTION #}
<section id="hero" class="section py-20">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__left">
                    <p class="eyebrow">Innovative leadership design with you in mind</p>
                    <p class="eyebrow">Trust partnership value results</p>
                    <p class="eyebrow">The power of designing your effective leadership from your Foundation First</p>
                    <h1 class="hero__heading">{{ post.meta('hero_heading') }}</h1>
                    <p class="hero__subheading">{{ post.meta('hero_subheading') }}</p>
                    <form method="post" action="https://ldacoach.coachesconsole.com/optin" id="optin_6251c779fbb5814e607820a1" class="hero__form">
                        <label>First Name:</label><br>
                        <input class="text hero__form__input" name="FirstName" type="text" placeholder="First name" required>
                        <label>Email</label><br>
                        <input class="text hero__form__input" name="Email" type="text" placeholder="Email" required>
                        <input type="hidden" name="OptinID" id="optin_id_value" value="6251c779fbb5814e607820a1">                                                                                                                                                   
                        <input type="hidden" name="captcha_check" id="token"/>  
                        <button class="g-recaptcha submit" data-sitekey="6LeiJO4ZAAAAAJ3etSaYUBMlfZ16Xw4N5z_F3rbD" data-callback='onSubmit'><span class="download-icon"></span>Download your ebook</button>
                        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=6LeiJO4ZAAAAAJ3etSaYUBMlfZ16Xw4N5z_F3rbD"  async defer></script>
                        <script src="https://coachesconsole.com/v3/static/optin.js?site_key=6LeiJO4ZAAAAAJ3etSaYUBMlfZ16Xw4N5z_F3rbD"></script>
                    </form>
                    <p class="form__disclaimer">By entering your email address above, you are requesting updates about upcoming courses and advice about leadership. You can opt out at any time, and we’ll never rent or sell your email address.</p>
            </div>
            <div class="hero__right">
                <img src="{{ theme.path ~ '/static/img/fran-book-mockup.webp' }}" alt="" class="hero__mockup">
            </div>
        </div>
    </div>
</section>
{# END HERO SECTION #}

{# BEGIN TRANSFORM SECTION #}
<section id="transform" class="section py-18">
    <div class="container">
        <article class="prose has-lead">
            {{ post.content }}
        </article>
    </div>
</section>
{# END TRANSFORM SECTION #}

{# BEGIN TESTIMONIAL SECTION #}
<section id="testimonial" class="section py-10">
    <div class="container">
        <div class="testimonial__wrapper">
            <p>"As a leader focused on the leader and employee experiences and innovating my leadership model, Fran's perspectives into the critical integration and alignment of you Leadership Principles are insightful and spot on!"<strong>— F. Kettleman</strong></p>
        </div>
    </div>
</section>
{# END TESTIMONIAL SECTION #}

{# BEGIN LDA SECTION #}
<section id="lda" class="section py-18">
    <div class="container">
        <div class="lda__wrapper">
            <div class="lda__left"></div>
            <div class="lda__right">
                <h2 class="lda__heading mb-4">{{ post.meta('section_two_heading')}}</h2>
                <p class="lda__subheading mb-8">{{ post.meta('section_two_subheading') }}</p>
                <a href="/about" class="btn btn--primary">Learn more about Fran</a>
            </div>
        </div>
    </div>
</section>
{# END LDA SECTION #}

{# BEGIN FRAN SECTION #}
<section id="fran" class="section pb-18">
    <div class="container">
        <div class="fran__wrapper">
            <div class="fran__left">
                <h2 class="fran__heading mb-4">{{ post.meta('section_three_heading')}}</h2>
                <p class="fran__subheading mb-8">{{ post.meta('section_three_subheading') }}</p>
                <a href="/about" class="btn btn--primary">Learn more about Fran</a>
            </div>
            <div class="fran__right"></div>
        </div>
    </div>
</section>
{# END FRAN SECTION #}

{% include 'partial/cta.twig' %}

{% endblock %}