{% extends "base.twig" %}

{% block content %}
<section id="hero" class="section">
    <div class="container">
        <h1 class="hero__heading">Read the blog</h1>
        <p class="hero__subheading">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, illum, ex deleniti laudantium alias, doloremque illo in similique maiores eum error qui expedita optio! Voluptatibus, amet adipisci! Quas, blanditiis doloribus?</p>
    </div>
</section>

<section id="posts" class="section">
    <div class="container">
        <div class="posts__wrapper">
            {% for post in posts %}
            <div class="posts__card">
                <div class="posts__card__img">
                    <img src="{{ post.thumbnail.src }}" alt="">
                </div>
                <div class="posts__card__bottom">
                    <h3 class="posts__card__heading">{{ post.title }}</h3>
                    <p class="posts__card__excerpt">{{ post.post_content|truncate(20) }}</p>
                    <a href="{{ post.link }}" class="posts__card__link"></a>
                    <p>{{ post.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


	
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
